
body {
    background-color:#2f8181a8;
}
nav li {
    text-align: center;
    display: block;
    float: left;
    padding: 1% 5%;
}

nav li a {
    color: #2f8181a8;
    text-decoration: none;
    font-family: monospace;
    font-size: 200%;
}

nav ul {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

article h1 {
    margin: top;
    padding: 0px 40px;
    text-align: left;
    color:rgb(255, 255, 255);
    font-size: 4vw;
    font-family: monospace;
    font-size: auto;
    text-shadow: 5px 2px 2px grey;
}

article p {
    margin: 30px 10px;
    padding: 0px 15px;
    text-align: justify;
    max-width: auto;
    background-color: whitesmoke;
    box-shadow: 5px 2px 2px grey;
    color:rgb(31, 197, 202)
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.bilder{
    flex: 25%;
    max-width: 25%;
    padding: 0px 40px;
}

.bilder img {
    margin-top: 8px;
    vertical-align: middle;
    width:100%;
    box-shadow: 10px 5px 5px grey;
}

#gridski {
    grid-template-columns: 1fr 1fr 1fr;
    display: center;
    padding: 10px;
}
img {
    padding: 0.5px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

@media screen and (max-width: 1100px) {
    .bilder {
        flex: 50%;
        max-width: 50%;
    }
    #gridski{
        grid-template-columns: 1fr;
    }

@media screen and (max-width: 600px) {
    .bilder {
        flex: 100%;
        max-width: 100%;
    }
    
}
}
