
body {
    background-color:aqua;
}
nav li {
    text-align: center;
    display: block;
    float: left;
    padding: 1% 5%;
}

nav li a {
    color: aqua;
    text-decoration: none;
}

nav ul {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: white;
    width: 100%;
}

article h1 {
    margin: top;
    text-align: left;
    font-size: 4vw;
}

article p {
    margin:0 5px;
    text-align: left;
    max-width: 50%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.bilder{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.bilder img {
    margin-top: 8px;
    vertical-align: middle;
    width:100%;
}

#gridski {
    grid-template-columns: 1fr 1fr 1fr;
    display: center;
    padding: 10px;
}
img {
    padding: 5px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

@media screen and (max-width: 1100px) {
    body {
        background-color:aqua;

    }
    #gridski{
        grid-template-columns: 1fr;
    }
}
